<h1>Top Rated Movies</h1>
<br />

<div class="my-container">
  <div class="box" *ngFor="let topMovie of topRatedMovies">
    <div class="movie-image">
      <img
        [src]="['https://image.tmdb.org/t/p/w500/' + topMovie.poster_path]"
        alt="{{ topMovie.title }}"
        (click)="navigateToDetails(topMovie.id)"
      />
      <div class="rating">{{ topMovie.vote_average | number : "1.1-1" }}</div>
    </div>
    <div class="movie-content">
      <div class="movie-title">{{ topMovie.title }}</div>
      <div class="movie-release-day">{{ topMovie.release_date }}</div>
    </div>
  </div>
</div>
