.poster-box-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.poster-box-container::-webkit-scrollbar{
  display: none;
}


.poster-image-div img{
  width: 100%;
  object-fit: cover;
}
  