<div class="review-box" *ngIf="movieReviewData">
  <div class="accordion" id="accordionExample">
    <div
      class="accordion-item"
      *ngFor="let review of movieReviewData; let i = index"
    >
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="false"
          [attr.aria-controls]="'collapse' + i"
        >
          <span>{{ review.author }}</span>
          <span
            ><i class="fa-solid fa-star"></i>
            {{ review.author_details?.rating }}</span
          >

          >
        </button>
      </h2>
      <div
        [id]="'collapse' + i"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {{ review.content }}
        </div>
      </div>
    </div>
  </div>
</div>
